html,
body {
    font-family: 'Open Sans',sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.header0 .container {
    padding: 40px;
}




/*course*/
.small{
  color:rgb(177, 14, 14);
}
.fa-heart{
  font-size: 18px;
  color: rgb(177, 14, 14);
}
.my-cart-btn{
  color: rgb(0, 102, 0);
}
.card-link-secondary{
  padding-top: 20px;
}
a:hover{
  text-decoration: none;
  color: rgb(4, 87, 4);
}
.course .container{
  margin-top: 150px;
}
.course {
    margin-top: 60px;
}

.course h3{
    color: #274685;
    padding: 30px;
    font-size: 24px;
}
.course h4{
    color: #274685;
    padding: 10px;
    font-size: 18px;
}

.courses-area .properties__caption {
    padding: 29px 20px 20px 20px;
}
.course .btn{
    
 
    font-weight: 700;
    font-size: 16px;
    margin-top: 40px;
    background-color: #fff;
    color:#274685;
  border: 2px solid #274685;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  
  
  letter-spacing: 1px;
  cursor: pointer;
 
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.course .btn1{
    background-color: #e26b26;
    color: #fff;
    margin-top: 20px;
    
    
}
.slide_down:hover {
    box-shadow: inset 0 100px 0 0 #274685;
    color: #fff;
  }

.border-btn {
   
    font-family: "Josefin Sans",sans-serif;
    background: none;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 17px 42px;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    position: relative;
    transition: color .4s linear;
    position: relative;
    overflow: hidden;
    margin: 0;
    text-align: center;
    
}
a, button {
    text-align: center;
    color: #fff;
    outline: medium none;
}
a {
    color: #635c5c;
}
a, .button {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
a {
    text-decoration: none;
}
.course img {
    vertical-align: middle;
    border-style: none;
    height: 250px;
}
.course .properties {
    background-color: #fff;
    box-shadow: 0 15px 18px rgba(179, 179, 179, .6);
}
.course .properties__caption{
    padding: 0px 10px 0px 10px;
}
.course .fa-star{
    color: rgb(236, 173, 13);
}
.course .fa-star-half{
  color: rgb(236, 173, 13);

}
/* course end */







/* footer */

/*Footer start*/

/*Footer start*/


@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");



footer {
  width: 100%;
  background-color: white;
  bottom: 0px;

}

footer div {
  background-color: #fff;
  margin: 5px 0px 0px 0px;
  padding: 0px;
  color: #274685;
  text-align: center;
  
}

.fab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

.page-footer1 {
 margin-top: 170px;
 
  
}

.page-footer1 h4{
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  color: #000;
  padding-right: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.page-footer1 .lower-foot{
  background: linear-gradient(
    -45deg, #1391a5, #274685) !important;
}




.page-footer1 .icon .fas {
  font-size: 30px;
 }

.page-footer1 p {
  font-size: 16px;
  text-align: left;
  width: 220PX;
  color: #e7dfdf;
  
}
.page-footer1 h5{
  color: #fff;
   justify-content: center;
   text-align: left;
   font-size: 20px !important;
   font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 20px;
  
  }
 
  

 
.page-footer1 .iconify {
  height: 20px;
  width: 40px;
  background: url('https://api.iconify.design/logos/google-gmail.svg') no-repeat center center / contain;
  content: url('https://api.iconify.design/logos/google-gmail.svg');
}

/* social icons start*/
.wrapper{
background-color:inherit;
}

.wrapper .icon {
  color: black;
  background-color: #2083f8;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;

  cursor: pointer;
  transition: transform 250ms;
}
.wrapper .icon:hover {
  transform: translateY(-10px);
}

.wrapper .twitter {
  background-color: #1da1f2;
  font-size: 20px;
}

.wrapper .linkedin {
  background-color: #007bb6;
  font-size: 20px;
}

.wrapper .facebook {
  background-color: #3b5998;
  font-size: 20px;
  padding-left: 7px;
  padding-right: 7px;
}

.wrapper .instagram {
 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  font-size: 20px;
}

.wrapper .youtube {
  background-color: #ff0000;
  font-size: 20px;
}

.wrapper .fab {
  color: white;
}



/* social icons end*/
/*lower footer*/
.lower{
  background: linear-gradient(
    -45deg, #1391a5, #274685) !important;
}
.lower div{
  background-color: inherit;
}

.lower img{
  height: 30px;
  width: 30px;
}
.lower ul{
  color: #ffffff;
  line-height: 28px;
  font-size: 16px;
}
.lower li{
  color: #ffffff;
  line-height: 28px;
  font-size: 16px;
}
.lower a{
  color: #ffffff;
  line-height: 28px;
  font-size: 16px;
}
.lower .cs{
  color:#f2f2f2;
  font-size: 16px !important;
  padding: 5px;
}

/*lower footer end*/
/*section2 start */
.section2 {
    height: 350px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
}

.section2 .container {

    padding: 20px 20px 20px 20px;
    border: solid rgb(228, 222, 222);
    background-color: #fff;
    margin-right: 6px;
    margin-left: 6px;
    box-shadow: 10px 10px 5px grey;
}

.section2 h4 {
    font-weight: bold;
    font-stretch: semi-expanded;
}

.section2 .icon {
    font-size: 32px;
    padding: 20px;
}
/*section2 end*/

/* no copy*/
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}