html,
body {
  font-family: 'Open Sans',sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
 .headerc {
   padding: 40px;
   background: linear-gradient(
-45deg, #1391a5, #274685) !important;
 }

 .headerc .container {
  background: linear-gradient(
-45deg, #1391a5, #274685) !important;
 }

 /*--------------------------------------------------------------
  # Frequently Asked Questions
  --------------------------------------------------------------*/
.faq .container{
  margin-top: 200px;
  margin-bottom: 50px;
}
 .faq .card {
   background-color: #fff;
 }
  .faq.card-header{
    background-color: #fff;
  }



 .faq .card .btn {
   text-decoration: none;
   color: black;
   font-weight: 500;
   font-size: large;
 }

 .faq h4 {
   color:#274685;
   font-size: 26px;
   font-weight: 700;
   margin-bottom: 40px;
 }

 .faq .card h5 {
   font-size: large;
   font-weight: bold;
   color: #000;
 }

 .faq a {
   text-decoration: none;
   color: #000;
   font-weight: bold;
 }


 /* footer */
 
/*Footer start*/


@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");



footer {
  width: 100%;
  background-color: white;
  bottom: 0px;

}

footer div {
  background-color: #fff;
  margin: 5px 0px 0px 0px;
  padding: 0px;
  color: #274685;
  text-align: center;
  
}

.fab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

.page-footer1 {
 margin-top: 170px;
 
  
}

.page-footer1 h4{
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  color: #000;
  padding-right: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.page-footer1 .lower-foot{
  background: linear-gradient(
    -45deg, #1391a5, #274685) !important;
}




.page-footer1 .icon .fas {
  font-size: 30px;
 }

.page-footer1 p {
  font-size: 16px;
  text-align: left;
  width: 220PX;
  color: #e7dfdf;
  
}
.page-footer1 h5{
  color: #fff;
   justify-content: center;
   text-align: left;
   font-size: 20px !important;
   font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 20px;
  
  }
 
  

 
.page-footer1 .iconify {
  height: 20px;
  width: 40px;
  background: url('https://api.iconify.design/logos/google-gmail.svg') no-repeat center center / contain;
  content: url('https://api.iconify.design/logos/google-gmail.svg');
}

/* social icons start*/
.wrapper{
background-color:inherit;
}

.wrapper .icon {
  color: black;
  background-color: #2083f8;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;

  cursor: pointer;
  transition: transform 250ms;
}
.wrapper .icon:hover {
  transform: translateY(-10px);
}

.wrapper .twitter {
  background-color: #1da1f2;
  font-size: 20px;
}

.wrapper .linkedin {
  background-color: #007bb6;
  font-size: 20px;
}

.wrapper .facebook {
  background-color: #3b5998;
  font-size: 20px;
  padding-left: 7px;
  padding-right: 7px;
}

.wrapper .instagram {
 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  font-size: 20px;
}

.wrapper .youtube {
  background-color: #ff0000;
  font-size: 20px;
}

.wrapper .fab {
  color: white;
}



/* social icons end*/
/*lower footer*/
.lower{
  background: linear-gradient(
    -45deg, #1391a5, #274685) !important;
}
.lower div{
  background-color: inherit;
}

.lower img{
  height: 30px;
  width: 30px;
}
.lower ul{
  color: #ffffff;
  line-height: 28px;
  font-size: 16px;
}
.lower li{
  color: #ffffff;
  line-height: 28px;
  font-size: 16px;
}
.lower a{
  color: #ffffff;
  line-height: 28px;
  font-size: 16px;
}
.lower .cs{
  color:#f2f2f2;
  font-size: 16px !important;
  padding: 5px;
}

/*lower footer end*/
 

 .section2 {
   height: 350px;
   width: 100%;
   padding-top: 60px;
   padding-bottom: 30px;
 }

 .section2 .container {

   padding: 20px 20px 20px 20px;
   border: solid #fff;
   background-color: #fff;
   margin-right: 6px;
   margin-left: 6px;
   box-shadow: 10px 10px 5px grey;
 }

 .section2 h4 {
   font-weight: bold;
   font-stretch: semi-expanded;
 }

 .section2 .icon {
   font-size: 32px;
   padding: 20px;
 }


 svg {
   width: 100%;
 }

 .arrow {
   stroke-width: .3px;
   stroke: #274685;
 }


 .wave {
   animation: wave 3s linear;
   animation-iteration-count: infinite;
   fill: #274685;
 }

 .drop {
   fill: transparent;
   animation: drop 5s ease infinite normal;
   stroke: #274685;
   stroke-width: 0.5;
   opacity: .6;
   transform: translateY(80%);
 }

 .drop1 {
   transform-origin: 20px 3px;
 }

 .drop2 {
   animation-delay: 3s;
   animation-duration: 3s;
   transform-origin: 25px 3px;
 }

 .drop3 {
   animation-delay: -2s;
   animation-duration: 3.4s;
   transform-origin: 16px 3px;
 }

 .gooeff {
   filter: url(#goo);
 }

 #wave2 {
   animation-duration: 5s;
   animation-direction: reverse;
   opacity: .6
 }

 #wave3 {
   animation-duration: 7s;
   opacity: .3;
 }

 @keyframes drop {
   0% {
     transform: translateY(80%);
     opacity: .6;
   }

   80% {
     transform: translateY(80%);
     opacity: .6;
   }

   90% {
     transform: translateY(10%);
     opacity: .6;
   }

   100% {
     transform: translateY(0%) scale(1.5);
     stroke-width: 0.2;
     opacity: 0;
   }
 }

 @keyframes wave {
   to {
     transform: translateX(-100%);
   }
 }

 @keyframes ball {
   to {
     transform: translateY(20%);
   }
 }


 /* no copy*/
 .noselect {
   -webkit-touch-callout: none;
   /* iOS Safari */
   -webkit-user-select: none;
   /* Safari */
   -khtml-user-select: none;
   /* Konqueror HTML */
   -moz-user-select: none;
   /* Firefox */
   -ms-user-select: none;
   /* Internet Explorer/Edge */
   user-select: none;
   /* Non-prefixed version, currently supported by Chrome and Opera */
 }