body {
    font-family: 'Open Sans', sans-serif !important;
}



.navbar {
    background: linear-gradient(
-45deg, #1391a5, #274685) !important;
    color: white !important;
   
    margin: 0 !important;
    border: none;
    font-size: 14px;
    font-weight: 400;
    position: fixed;
    z-index:9999;  
    width: 100%;

}

.header0{
    overflow:hidden;
    position: fixed;
    z-index:9999;  
    width: 100%;
    color: #274685;
    background-color: #fff;
  }


 

.header0 p{
     padding-top: 5px;
    color: #274685;
    font-weight: 600;
    font-size: 16px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;

}
.btn-link{
    color:white !important;
    text-decoration: none;
}
.btn-link:hover{
    text-decoration: none;
}

.navbar .navbar-nav li a {
    color: #fff !important;
 
    /* animation */
   margin-right: 20px;
    font-size: 14px;
  
}

.fa{
    margin-top: 15px;
    font-size: 22px;
    padding-left: 10px;
    padding-bottom: 7px;
}
p{
    font-size: 16px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #fff;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  @media (min-width: 768px) {
    .navbar-nav.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }
  }