html {
  scroll-behavior: smooth;
  margin: 0px !important;
  padding: 0px !important;
  width: 100%;
  height: 100%;
}

html,
body {
  font-family: 'Open Sans',sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



.header .container {
  padding-top: 30px;

  overflow: hidden;
  width: 100%;
}

/* section0 start*/
.section0{
  margin-top: 100px;
}
.section0 .container-fluid {
  background: linear-gradient(
-45deg, #1391a5, #274685) !important;
  padding-top: 40px;
  margin-top: 30px;
  padding-bottom: 30px;
}

.section0 {
  width: 100%;
  height: auto;
  background: linear-gradient(
    -45deg, #1391a5, #274685) !important;
  padding-top: 40px;
}

.section0 h1 {
   font-size: 48px;
  font-weight: 700;
  color: #fff;
}

.section0 h3 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
}

.section0 .btn {
  text-decoration: none;
  display: inline-block;
  border-radius: 0px;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  color: #fff;
  background: linear-gradient(
    -45deg, #1391a5, #274685) !important;
  border: 2px solid #fff;
  font-size: 18px;
}

.section0 .btn a {
  text-decoration: none;
  color: inherit;
}



.section0 img {
  height: auto;
  width: 100%;
}

.section0 img {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

/* section0 end*/


/* section1 start*/

.section1 {

  background: linear-gradient(
    -45deg, #1391a5, #274685) !important;

  padding-top: 100px;
  margin-bottom: 70px;
  margin-top: 70px;
  padding-bottom: 100px;
  overflow: hidden;
}

.section1 p {

  text-align: left;
  font-size: 20px;
  color: #fff;
  animation: slidein 3s;
}


.section1 h1 {

  text-align: left;
  color: #fff;
  font-size: 36px;
}



/* section1 end*/



/* esction start*/

.esection {
  margin-top: 40px;
  width: 100%;

  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 30px;
}

.esection img {
  margin-top: 0;
  padding-top: 0px;
}

.esection h2 {
  font-size: 34px;
  padding-top: 60px;
  padding-left: 50px;
  font-weight: 700;
  color: #274685;
  font-family: "Roboto", sans-serif !important;
}

.esection p {
  font-family: "Roboto", sans-serif !important;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 16px;
  color: #444444;
  font-weight: 400;
  text-align: left;
  max-width: 700px;

}


.esection .btn {
  float: center;
  text-align: center;
  margin-top: 35px;
}

.esection .earn {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  background-color: #274685;
}

.earn:hover {
  background: linear-gradient(
    -45deg, #1391a5, #274685) !important;
  color: #fff;

}

.esection .earn a {
  text-decoration: none;
  color: inherit;
}

.esection .earn a:hover {
  text-decoration-color: white;
  color: white;
}

.esection .btn {
  padding-left: 30px;
  padding-right: 30px;
}


/* esction end*/


/* section2 start*/
.section2 {
  padding-top: 45px;
  padding-bottom: 40px;
}

.section2 .container {
  border: 3px solid rgb(238, 236, 236);
  height: 210px;
  width: 280px;
  box-shadow: 0 15px 18px rgba(179, 179, 179, .6);
  margin-bottom: 30px;

}

.section2 .container-fluid {
  width: 280px;
  height: 50px;
  filter: brightness(1);
  background: linear-gradient(
-45deg, #1391a5, #274685) !important;


}

.section2 h5 {
  margin-top: 90px;
  font-weight: 700;
  color: #274685;

}

.section2 h4 {
  font-weight: 700;
  color: #274685;
  font-size: 29px;
}

.section2 .icons {
  margin-top: 22px;
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(
    -45deg, #1391a5, #274685) !important;
 
  border: 5px solid white;

}

.section2 .fas {
  color: #fff;
  font-size: 28px;
}

.section2 .sub {
  transition: transform 250ms;
}

.section2 .sub:hover {
  transform: translateY(-10px);
}



/* section2 end*/

/*Footer start*/


@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");



footer {
  width: 100%;
  background-color: white;
  bottom: 0px;

}

footer div {
  background-color: #fff;
  margin: 5px 0px 0px 0px;
  padding: 0px;
  color: #274685;
  text-align: center;
  
}

.fab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

.page-footer {
 margin-top: 170px;
  
}

.page-footer h4{
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  color: #000;
  padding-right: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}




.page-footer .icon .fas {
  font-size: 30px;
 }

.page-footer p {
  font-size: 16px;
  text-align: left;
  width: 220PX;
  color: #e7dfdf;
  
}
.page-footer h5{
  color: #fff;
   justify-content: center;
   text-align: left;
   font-size: 20px !important;
   font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 20px;
  
  }
 
  

 
.page-footer .iconify {
  height: 20px;
  width: 40px;
  background: url('https://api.iconify.design/logos/google-gmail.svg') no-repeat center center / contain;
  content: url('https://api.iconify.design/logos/google-gmail.svg');
}

/* social icons start*/
.wrapper{
background-color:inherit;
}

.wrapper .icon {
  color: black;
  background-color: #2083f8;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;

  cursor: pointer;
  transition: transform 250ms;
}
.wrapper .icon:hover {
  transform: translateY(-10px);
}

.wrapper .twitter {
  background-color: #1da1f2;
  font-size: 20px;
}

.wrapper .linkedin {
  background-color: #007bb6;
  font-size: 20px;
}

.wrapper .facebook {
  background-color: #3b5998;
  font-size: 20px;
  padding-left: 7px;
  padding-right: 7px;
}

.wrapper .instagram {
 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  font-size: 20px;
}

.wrapper .youtube {
  background-color: #ff0000;
  font-size: 20px;
}

.wrapper .fab {
  color: white;
}



/* social icons end*/
/*lower footer*/
.lower-footer{
  background: linear-gradient(
    -45deg, #1391a5, #274685) !important;
}
.lower-footer div{
  background-color: inherit;
}

.lower-footer img{
  height: 30px;
  width: 30px;
}
.lower-footer ul, li, a{
  color:#e7dfdf !important;
  line-height: 28px;
  font-size: 16px;
}
.lower-footer .cs{
 color: #fff !important;
  font-size: 16px !important;
  padding: 5px;
}

/*lower footer end*/



/* brain start*/
.brain{
  background: linear-gradient(
    -45deg, #1391a5, #274685) !important;
}
.brain .container{
  justify-content: left;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 37px;
  color: rgb(248, 237, 237);
}
.brain .btn{
  color: #fff;
  background:linear-gradient(
    220deg,#f27c1e 0,#dd4c23 79%);
  cursor: pointer;
  padding-left: 20px;
 padding-right: 20px;
}
.brain a{
  color: #fff;
  text-decoration: none;
}
/*brain end */




/* Subscribe start*/
.subscribe{
  background: linear-gradient(
    -45deg, #1391a5, #274685) !important;
}
.subscribe .container{
  background: linear-gradient(
    -45deg, #1391a5, #274685) !important;
    box-shadow: none;
    border: none;
    width: 100%;
}
.subscribe h3{
  font-size: 26px;
  font-weight: 600;
}
.subscribe input[type=text] {
    
  padding: 12px 20px;
  
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  width: 80%;
  height:22%;
  border:1px solid #7c7b7b;
}
.subscribe ::placeholder { 
  color: #000;
  opacity: 1;
  font-weight: 400;
  font-size: 20px;
  text-align: center;


}
.subscribe button{
height: 45px;
padding: 0;
margin: 0;

}
.subscribe .btn{

width: 14%;
margin-left: 5px;
font-size: 20px;

}
.subscribe .fa{
  margin-left: 5px;
}

/*subscribe end*/
.animate__animated{
  animation-iteration-count: 1;
}


/* no copy end*/
/*seal start*/
.seal{
  color: #274685;
 
  box-shadow: 2px 6px 14px 3px rgb(175, 171, 171);
  text-align: center;
  
}
/*seal end*/

/*crousal*/
