.header1 .container {
  padding: 40px;
}

.about {

  justify-content: center;

}

.about .container {
  margin-top: 10px;
  padding: 40px;
  height: 100vh;
  justify-content: center;

}

.about h4 {
  text-align: center;
  padding: 20px;
  color: #37517e;
  font-weight: bold;
}


body {
  background-image: url("images/ques3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;

}