
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
  
}

.carousel{
  height: auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
 .carousel .container{
   margin-top: 50px;
   margin-bottom: 30px;
 }
 .carousel h4{
   margin-bottom: 40px;
   font-weight: 700;
   color: #274685;
   font-size: 29px;
    
 }
 .carousel img{
   width: 300px;
   height: auto;
 }
.carousel .btn{
  color: #274685;
  border: 2px solid  #274685;
  font-size: 22px;
  font-weight: 600;
  background-color: #fff;

}
.carousel .btn:hover{
  color: #fff;
  border: 2px solid #fff;
  font-size: 22px;
  font-weight: 600;
  background: linear-gradient(
    -45deg, #1391a5, #274685) !important;

}
