.headerc {
  padding: 40px;
}

/*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
.contact {
  padding: 20px;
  margin-top: 20px;
  justify-content: center;
}

.contact h4 {
  color: #37517e;
  padding: 10px;
  font-weight: bold;
}

.contact .form1 {
  width: 100%;
  border-top: 3px solid #37517e;
  padding: 30px;
  background: #fff;
  box-shadow: 7px 0px 5px -3px grey, 0px 8px 7px -3px gray, -7px 0px 5px -3px rgba(180, 179, 179, 0.5);
}

.contact .icon {
  font-size: 50px;
  padding: 10px;
}

.wrapper {
  display: flex;


}

.wrapper .icon {
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  padding: 15px;
  margin: 15px;
  width: 50px;
  height: 50px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 6px 14px 3px #000;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #fff;
  bottom: -3px;
  left: 50px;
  transform: translate(-50%) rotate(46deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #0088cc;
  color: #fff;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #1c0ee6;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #a30d7e;
  color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #072433;
  color: rgb(252, 248, 248);
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #970b0b;
  color: #fff;
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}


.contact .container {
  text-align: center;
  margin-top: 40px;
  justify-content: center;
}

.contact .info {
  border-top: 3px solid #37517e;

  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 7px 0px 5px -3px grey, 0px 8px 7px -3px gray, -7px 0px 5px -3px rgba(180, 179, 179, 0.5);
}

.contact .info i {
  font-size: 20px;
  color: #37517e;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #37517e;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #37517e;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #37517e;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #37517e;
  padding: 30px;
  background: #fff;
  box-shadow: 7px 0px 5px -3px grey, 0px 8px 7px -3px gray, -7px 0px 5px -3px rgba(180, 179, 179, 0.5);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #37517e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #37517e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #37517e;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #37517e;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #37517e;
}

/* wave */
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  font-family: Lato, sans-serif;
}

footer {
  width: 100vw;
  background-color: white;
  bottom: 0px
}

footer div {
  background-color: #37517e;
  margin: -5px 0px 0px 0px;
  padding: 0px;
  color: #fff;
  text-align: center;
}

svg {
  width: 100%;
}

.arrow {
  stroke-width: .3px;
  stroke: yellow;
}


.wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  fill: #37517e;
}

.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke: #37517e;
  stroke-width: 0.5;
  opacity: .6;
  transform: translateY(80%);
}

.drop1 {
  transform-origin: 20px 3px;
}

.drop2 {
  animation-delay: 3s;
  animation-duration: 3s;
  transform-origin: 25px 3px;
}

.drop3 {
  animation-delay: -2s;
  animation-duration: 3.4s;
  transform-origin: 16px 3px;
}

.gooeff {
  filter: url(#goo);
}

#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: .6
}

#wave3 {
  animation-duration: 7s;
  opacity: .3;
}

@keyframes drop {
  0% {
    transform: translateY(80%);
    opacity: .6;
  }

  80% {
    transform: translateY(80%);
    opacity: .6;
  }

  90% {
    transform: translateY(10%);
    opacity: .6;
  }

  100% {
    transform: translateY(0%) scale(1.5);
    stroke-width: 0.2;
    opacity: 0;
  }
}

@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}

@keyframes ball {
  to {
    transform: translateY(20%);
  }
}